body {
    /*background-color: blue;
    /* background-image:url("Java-vs-Kotlin-1.jpg") ; 
    height: 500px;
    background-repeat: no-repeat;
    */


    background-image: url("Elon musk.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;



}

h1 {
    color: red;
}
.center_div {
    border: 1px solid gray;
    margin-left: 100;
    margin-right: 100;
    width: 90%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 8px;
  } 

#s1 {
    background-color: aqua;
    /* background- */
}









/*
    background-repeat: repeat-x; 
    background-repeat: repeat-y;
    background-size:100% 100%;

*/